*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* CSS VARIABLES */
:root{
    --primary-color:#102334;
}

html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#Homesection{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)) ,url(/Images/hospitalist.jpg);
    height: 89vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5rem;
    background-color: var(--primary-color);
}

#navlink{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 60px;
}
#navlink a{
    color:#fff;
}

#navlink a:hover{
    border-bottom: 3px solid rgb(252, 15, 15);
}

#navbar a, #navlink a{
 text-decoration: none;
}

.bgSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    color: #fff;
}

.middleTxt h1, h2, h3{
    margin-bottom: 8px;
}

.middleTxt button{
    background-color: var(--primary-color);
    padding: 12px 25px;
    border: none;
    border-radius:50px ;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}

#Health{
  margin-top: 4rem;
}

.tag h2{
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 20px;
}

.tag p{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    margin-bottom: 2rem;
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    gap: 4rem;
    padding: 1rem;
}

#subServices{
background-image:linear-gradient(rgba(16,35,52, 0.9), rgba(16,35,52, 0.9)), url(/Images/photo-4.jpeg);
background-attachment: fixed;
padding: 7rem;
text-align: center;
margin: auto;
margin-top: 4rem;
color: #fff;
}

#subServices p{
    margin-top: 2rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#subServices button{
    background-color:rgba(3, 3, 63, 0.911);
    padding: 12px 25px;
    border: none;
    border-radius:50px ;
    font-size: 15px;
    margin-top: 2rem;
    color: #fff;
    cursor: pointer;
}

#Service{
    margin-top: 4rem;
}

.program{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-bottom: 4rem;
}

.offer{
    width: 20rem;
    border-radius: 20px;
    box-shadow: 3px 3px 7px rgb(209, 209, 209);
}

.hospitalist{
    width: 100%;
    border-radius: 20px 20px  0 0;
    overflow: hidden;
}

.hospitalist img{
    transition: all 0.8s ease;
}

.hospitalist:hover img{
    transform: scale(1.3);
}

#questions{
    background-image:linear-gradient(rgba(16,35,52, 0.8), rgba(16,35,52, 0.8)), url(/Images/pexels-photo-2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    color: #fff;
    margin: 8rem auto 0;
    padding: 2rem;
}

.frequent{
    margin-top: 4rem;
    text-align: center;   
}

.frequent p{
    margin: 2rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.Asked{
    width: 72%;
    margin: 2rem auto;
}

.accordion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordionBtnClose, .accordionBtnClose1, .accordionBtnClose2{
    display: none;
}

.answered, .answered1, .answered2{
    display: none;
}

.Asked button{
    padding: 5px;
}

.healthyFood{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 3rem;
    
}

.healthyFood .container img{
    width: 17rem; 
    height: 10rem;
    object-fit: cover;
}

.TophealthyFood{
    display: flex;
    gap: 2rem;
}

.container {
    position: relative;
    width: 50%;
}
  
.image {
    border-radius: 10px;
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10rem;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(16, 35, 52, 0.658);
}
  
.container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text1 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 10%;
    right: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


#Contact{
    background-color:rgb(16,35,52);
    text-align: center;
    margin-top: 5rem;
    color: #fff;
    padding: 3rem 0 1.5rem 0;
}

.footerTopText{
    text-align: center;
    margin: 2rem;
}

.footerTopText p{
 margin-top: 1rem;
}

.footerBottomText a{
    color: #fff;
    padding: 20px;
    font-size: 25px;
    text-decoration: none;
}

.bottomNavbar{
    margin: 2rem 0;
}

.bottomNavbar a{
    margin-top: 2rem;
    padding:20px ;
    color: #fff;
    text-decoration: none;
}

.hamburger{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.Asked.showFaq .answered{
    display: block;
}


@media screen and (min-width:992px) {
    .bgSection{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:992px){
    

    .bgSection img{
        display: none;
    }

    .middleTxt{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .healthyFood{
       flex-direction: column;
    }
}

@media screen and (max-width:768px) {
    .first {
        font-size: 16px;
    }
    
    .tag p{
      font-size: 15px;
      width: 85%;
    }

    #subServices p{
     width: 90%;
    }

    .offer{
        width: 18rem;
    }
/* this was used to style the navlinks on smaller screen */
    .hamburger{
        display: block;
        font-size: 35px;
    }

    .ri-close-circle-fill{
        display: none;
    }

    #navlink{
        background-color: #102334;
        flex-direction: column;
        position: absolute;
        top: -50%;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        z-index: 1;
        padding: 2rem;
        transition: .5s;
        border-radius: 10px;
    }
}

@media screen and (max-width:576px) {

    .first {
       flex-direction: column;
    }
    
    .TophealthyFood{
        flex-direction: column;
    }
    
    .footerTopText {
        font-size: 12px;
    }
       
       
    .bottomNavbar a{
        font-size: 15px;
        padding: 10px;
    } 

    #bottomP{
        font-size: 15px;
    }
}

@media screen and (max-width:375px) {
    #navbar {
        padding: 10px 1rem;
        width: 100%;
    }


  .middleTxt {
    width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .middleTxt h1{
        font-style: bold;
        font-size: 29px;
    }
  
    .middleTxt button{
        padding: 10px 20px;
        font-size: 10px;
    }

    #subServices{
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 3rem 1.5rem;
    }
   
    #subServices button{
        padding: 10px 15px;
        font-size: 12px;
    }

    .program{
        padding: 1rem;
    }

    .offer{
        width: 18rem;
    }

    #questions{
        width: 100%;
         padding: 1rem;
    }

    .questions p{
        width: 100%;
        padding:1.5rem ;
    }

    .Asked{
        width: 300px;
    }

    .frequent p{
        margin: 2rem;
        width: 90%;
    }

    .accordion{
        width: 300px;
        margin: 1rem auto;
    }
 
     .accordion h3{
         font-size: 15px;
    }
 
    .accordion button{
         font-size: 12px;
    }

    .container {
        width: 100%;
    }

    .footerBottomText{
        font-size: 15px ;
    }

    .bottomNavbar a{
        font-size: 14px;
    } 

    #bottomP{
        font-size: 13px;
    }
}
